---
import Reservation from "@/components/Reservation.astro";
import Layout from "../layouts/Layout.astro";
import "@/styles/globals.css";
---

<Layout title="Home | Dine Website." description="Welcome to the Dine Website">
  <main>
    <section></section>
    <Reservation />
  </main>
</Layout>
